/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-weight);
  background-image: var(--page-background);
  background-attachment: fixed;
  background-size: cover;

}
.content-section {
  inline-size: var(--content-width);
  margin-inline: auto;
}

.header {
  margin-block-start: 100px;
  padding-block: var(--header-padding-block);
  padding-inline: var(--header-padding-inline);
  border: 2px solid #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title,
.header__subtitle {
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.header__title {
  font-size: var(--title-size);
}

.header__subtitle {
  font-size: var(--subtitle-size);
  letter-spacing: -7%;
}